.blog-list {
   display: grid;
   gap: $gap-size;

   max-width: 80ch;
}

.blog-post {
   //display: flex;
   //flex-direction: column;
   //justify-content: space-between;

}

.signature p {
   text-align: right;
   font-size: 1.2em;
   margin: 1em;
   margin-right: 2em;
}
