---
title: Projects
layout: base-page
permalink: /projects/
---
{% assign sorted = site.projects | sort: 'title' %}

<div class="window centered">
   <h1> Projects </h1>
</div>

<article class="projects-content">


   <div class="projects-board">
      {% for project in sorted %}
      <a href="{{ project.permalink }}" class="project-card window">
         {% if project.thumbnail %}
         <img class="thumbnail" src="{{ project.thumbnail }}" />
         {% endif %}
         <div class="card-content">
            <h2>{{ project.title }}</h2>
            <p> {{ project.description | markdownify }} </p>
         </div>
      </a>
      {% endfor %}

   </div>
</article>