<!doctype html>
<html class="no-js" lang="en-us">

{% include head.html %}

<body>
   {% include nav.html %}

   <div class="content">

      {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
      {% include page__hero.html %}
      {% endif %}

      {{ content | markdownify }}

   </div>

   {% include footer.html %}

   <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
   <script>
      window.cookieconsent.initialise({
         "palette": {
            "popup": {
               "background": "#111",
               "text": "#ffffff"
            },
            "button": {
               "background": "#14a7d0",
               "text": "#ffffff"
            }
         },
         "theme": "edgeless",
         "type": "opt-in",
         "content": {
            "message": "We would like to use cookies to find out how many people visit us. These cookies are processed using Google Analytics. ",
            "allow": "Accept",
            "deny": "Deny",
            "link": "Read more about cookies",
            "href": "{{ site.url }}/data-policy"
         }
      });
   </script>
</body>

</html>